* {
  margin: 0;
  padding: 0;
}
main.ant-layout-content.ant-pro-layout-content.css-dev-only-do-not-override-8vhhqp.ant-pro-layout-has-header.css-dev-only-do-not-override-1jr9qlj {
  padding: 0;
}
.ant-layout .ant-pro-layout-container .ant-layout-content {
  background-image: url(assets//bg/all_container.jpg) !important;
  background-attachment: fixed;
}
